html {
  font-family: 'Josefin Sans', sans-serif;
}
.text {
  display: none;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
a {
  color: black;
  text-decoration: none;
}
#guidingText {
  top: 50%;
  z-index: 5;
  opacity: .75;
}
#mainPageButtons {
  position: absolute;
  top: 50%;
  left: 50%;
}
.button {
  display: none;
  position: absolute;
  width: 150px;
  height: 150px;
  line-height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: none;
  text-align: center;
  font-size: 25px;
}
.mainSectionButton,
.optionsSectionButton {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 16px;
}
#fullscreenButton,
#aboutButton {
  top: 100px;
  left: 115px;
}
#aboutButton {
  left: -115px;
}
#optionsButton {
  top: 150px;
  left: 0px;
}
#switchThemeButton {
  top: 125px;
  left: -100px;
}
#rainyMoodButton {
  top: 185px;
  left: 0px;
}
#changeRateButton {
  top: 125px;
  left: 100px;
}
#increaseBreathRateButton,
#decreaseBreathRateButton {
  top: -25px;
  height: 25px;
  width: 25px;
  line-height: 25px;
}
#decreaseBreathRateButton {
  top: 125px;
}
#breathRateInfo {
  height: 40px;
  width: 40px;
  font-size: 16px;
  line-height: 40px;
  top: 50px;
  left: 130px
}
#aboutSection,
#optionsSection {
  display: none;
  position: absolute;
  text-align: center;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
}
.returnButton {
  display: none;
  position: absolute;
  height: 75px;
  width: 75px;
  bottom: -150px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 75px;
  border: none;
  text-align: center;
  line-height: 75px;
}
#pulsingRing,
#centerCircle {
  display: none;
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: none;
  z-index: -5;
}
#centerCircle {
  z-index: 0;
}
.inProgressmainSectionButton {
  display: none;
  position: fixed;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  bottom: 20px;
  right: 20px;
  line-height: 50px;
  font-size: 12px;
}
#exitButton {
  left: 20px;
}
#inProgressFullscreenButton {
  left: 50%;
  transform: translate(-50%, 0);
}

/* Hover effect for buttons */

.hoverActive:hover {
  /* Hover effect */
  transition: box-shadow .4s ease-in;
  cursor: pointer;
}
.hoverActive {
  /* Hover effect */
  transition: box-shadow .4s ease-in;
  box-shadow: 0 0 1em clear;
}
.unselectable {
  /*  Make text unselectable  */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Mobile-Friendly CSS */

@media (max-width: 480px),
(max-width: 736px) AND (orientation: landscape) {
  .text {
    font-size: 16px;
  }
  .button {
    height: 95px;
    width: 95px;
    line-height: 95px;
    font-size: 16px;
  }
  #fullscreenButton,
  #aboutButton {
    top: 60px;
    left: 95px;
  }
  #aboutButton {
    left: -95px;
  }
  #optionsButton {
    top: 110px;
  }
  .mainSectionButton,
  .optionsSectionButton {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 12px;
  }
  .optionsSectionButton {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 10px;
  }
  #switchThemeButton {
    top: 125px;
    left: -75px;
  }
  #rainyMoodButton {
    top: 160px;
    left: 0px;
  }
  #changeRateButton {
    top: 125px;
    left: 75px;
  }
  #increaseBreathRateButton,
  #decreaseBreathRateButton {
    top: -25px;
    height: 25px;
    width: 25px;
    line-height: 25px;
  }
  #decreaseBreathRateButton {
    top: 85px;
  }
  #breathRateInfo {
    height: 30px;
    width: 30px;
    line-height: 30px;
    top: 30px;
    left: 85px;
    font-size: 12px;
  }
  #aboutSection,
  #optionsSection {
    font-size: 14px;
  }
  #aboutSection {
    width: 75%;
  }
}
