html {
  background-color: #888888;
}
.button,
.returnButton,
#centerCircle {
  background-color: #FFF8D3;
}
#pulsingRing {
  background-color: #C5C7B6;
}
.inProgressOptionButton {
  background-color: #999999;
}

/* Hover effect for buttons */

.hoverActive:hover {
  /* Hover effect */
  box-shadow: 0 0 1em #FFF8D3;
}
