html {
  background-color: #E5FFFF;
}
.button,
.returnButton,
#centerCircle {
  background-color: #40FFF6;
}
#pulsingRing {
  background-color: #8DFFFF;
}
.inProgressmainSectionButton {
  background-color: #C0FFFF;
}
.hoverActive:hover {
  box-shadow: 0 0 1em #5AECD9;
}
