html {
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  height: 100%;
}
.section,
body {
  width: 100%;
  height: 100%;
}
.text {
  display: none;
  position: relative;
  text-align: center;
  top: 20%;
  font-size: 1.2em;
}
a {
  color: black;
  text-decoration: none;
}
#guidingText {
  top: 50%;
  z-index: 5;
  opacity: .75;
}
#mainPageButtons {
  position: relative;
  top: 40%;
}
.button {
  width: 50%;
  height: 50%;
  display: none;
  border-radius: 50%;
  border: none;
  text-align: center;
  line-height: 150px;
  font-size: 25px;
}
.mainSectionButton {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 16px;
}
.optionsSectionButton {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 16px;
}
#fullscreenButton,
#aboutButton {
  top: 100px;
  left: 115px;
}
#aboutButton {
  left: -115px;
}
#rainyMoodButton {
  top: 185px;
  left: 0px;
}
#switchThemeButton {
  top: 125px;
  left: -100px;
}
#changeRateButton {
  top: 125px;
  left: 100px;
}
#increaseBreathRateButton,
#decreaseBreathRateButton {
  top: -25px;
  height: 25px;
  width: 25px;
  line-height: 25px;
}
#decreaseBreathRateButton {
  top: 125px;
}
#breathRateInfo {
  height: 40px;
  width: 40px;
  font-size: 16px;
  line-height: 40px;
  top: 50px;
  left: 130px;
}
#optionsButton {
  top: 150px;
  left: 0px;
}
#aboutSection,
#optionsSection {
  display: none;
  position: relative;
  top: 200px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}
.returnButton {
  display: none;
  position: relative;
  height: 75px;
  width: 75px;
  bottom: -150px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 75px;
  border: none;
  text-align: center;
  line-height: 75px;
}
#pulsingRing,
#centerCircle {
  display: none;
  position: relative;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: none;
  z-index: -5;
}
#centerCircle {
  z-index: 0;
}
.inProgressmainSectionButton {
  display: none;
  position: relative;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  bottom: 20px;
  right: 20px;
  line-height: 50px;
  font-size: 12px;
}
#exitButton {
  left: 20px;
}
#inProgressFullscreenButton {
  left: 50%;
  transform: translate(-50%, 0);
}

/* Hover effect for buttons */

.hoverActive:hover {
  /* Hover effect */
  transition: box-shadow .4s ease-in;
  cursor: pointer;
}
.hoverActive {
  /* Hover effect */
  transition: box-shadow .4s ease-in;
  box-shadow: 0 0 1em clear;
}
.unselectable {
  /*  Make text unselectable  */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
